<html>
  <head>
    <title>Summation</title>
  </head>
  <body>
    <hr>
    {% block content %}{% endblock %}
    <!-- I added a comment for commiting purpose, Rico -->
    <!-- I added a comment so I can commit changes and create a pull request, Justin -->
    <!-- Another comment, Engramar -->    
    <!-- Another test, Engramar --> 
    <!-- Another test from lp, Engramar --> 
    <!-- Testing -->
    <!-- Edited today 24 June 2017 -->
    <!-- Another comment 18 July 2017 -->
    <!-- Sample comment by Matthu -->
  </body>
</html>
